.nav {
  padding: 10px;
  background-color: #42378f;
  background-image: linear-gradient(315deg, #42378f 0%, #f53844 44%);
}
.nav-link {
  color: red;
  font-family: "Roboto-mono", monospace;
  font-size: 20px;
  font-weight: bold;
}
.nav-link:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
.logo img {
  background-color: #fff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  right: 700px;
}
.nav-item {
  padding-top: 50px;
}
