/*
.nav-item {
  padding-top: 50px;
}*/
.navbar {
  padding-top: 30px;
  width: 100%;
  background-color: #f35844;
  background-image: linear-gradient(315deg, #f53844 0%, #42378f 74%);
}
.logo img {
  background-color: #fff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
}
.nav-link {
  letter-spacing: 3px;
  font-family: "Exo", "sans-serif";
  color: #05f4b7;
}
.nav-link:hover {
  color: #fff;
  transition: color 0.5s ease;
}
.nav-link {
  color: black;
  font-family: "Roboto-mono", monospace;
  font-size: 20px;
  font-weight: bold;
}
