#contact {
  position: relative;
  color: red;
  font-family: "Roboto-mono", monospace;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 15px;
}
#contact:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
.footer {
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .footer {
    margin: 100px 10px 0;
  }
}

.handles {
  padding-top: 50px;
}

@media screen and (max-width: 680px) {
  .handles {
    padding-top: 25px;
  }
}
.row {
  padding-top: 25px;
}
