.fixed {
  color: white;
  font-family: "Roboto-mono", monospace;
  font-weight: bold;
  font-size: 2.5rem;
}
.scroll {
  color: white;
  font-family: "Roboto-mono", monospace;
  font-weight: bold;
  font-size: 2.5rem;
}
