.fixed {
  color: white;
  font-family: "Dosis", monospace;
  font-weight: bold;
  font-size: 2.5rem;
}
.scroll {
  color: white;
  font-family: "Dosis", monospace;
  font-weight: bold;
  font-size: 2.5rem;
}
#about {
  position: relative;
  color: red;
  font-family: "Dosis", monospace;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 15px;
}
#about:hover {
  color: white;
  transition: 0.5s ease-in-out;
}
p {
  max-width: 1000px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  color: azure;
}
@media screen and (max-width: 700px) {
  p {
    margin: 100px 10px 0;
  }
}
