body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #051937;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004068,
    #006b87,
    #009689,
    #00bf72,
    #00bf72,
    #00bf72,
    #00bf72,
    #009689,
    #006b87,
    #004068,
    #051937
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
